<div class="asset-librarian-welcome">
  <p><strong>{{localize "ASSET_LIBRARIAN.Welcome.Title"}}</strong></p>
  <hr>
  <p><strong>{{localize "ASSET_LIBRARIAN.Welcome.CommunityTitle"}}</strong></p>
  <p>{{localize "ASSET_LIBRARIAN.Welcome.CommunityText"}}</p>
  <p>
    <a class="button" href="{{localize "ASSET_LIBRARIAN.Welcome.Links.DiscordUrl"}}" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-discord"></i> {{localize "ASSET_LIBRARIAN.Welcome.Buttons.Discord"}}
    </a>
  </p>
  <p><strong>{{localize "ASSET_LIBRARIAN.Welcome.SupportTitle"}}</strong></p>
  <p>{{localize "ASSET_LIBRARIAN.Welcome.SupportPatreonText"}}</p>
  <p>
    <a class="button" href="{{localize "ASSET_LIBRARIAN.Welcome.Links.PatreonUrl"}}" target="_blank" rel="noopener noreferrer">
      <i class="fa-brands fa-patreon"></i> {{localize "ASSET_LIBRARIAN.Welcome.Buttons.Patreon"}}
    </a>
  </p>
  <p>{{localize "ASSET_LIBRARIAN.Welcome.SupportKofiText"}}</p>
  <p>
    <a class="button" href="{{localize "ASSET_LIBRARIAN.Welcome.Links.KofiUrl"}}" target="_blank" rel="noopener noreferrer">
      <i class="fas fa-cup-togo"></i> {{localize "ASSET_LIBRARIAN.Welcome.Buttons.Kofi"}}
    </a>
  </p>
  <p><strong>{{localize "ASSET_LIBRARIAN.Welcome.DocsTitle"}}</strong></p>
  <p>{{localize "ASSET_LIBRARIAN.Welcome.DocsText"}}</p>
  <p>
    <a class="button" href="{{localize "ASSET_LIBRARIAN.Welcome.Links.DocsUrl"}}" target="_blank" rel="noopener noreferrer">
      <i class="fas fa-book"></i> {{localize "ASSET_LIBRARIAN.Welcome.Buttons.Docs"}}
    </a>
  </p>
</div>
